{% extends "base.html" %}
{% block title %}Social Media App{% endblock %}
{% block body %}
	<style>
		hr {
			margin-left: 5%;
			margin-right: 5%;
		}
	</style>
	<span id="notifications"></span>
	<!--
    PeoplePerHour Profile Widget
    The div#pph-hire me is the element
    where the iframe will be inserted.
    You may move this element wherever
    you need to display the widget
-->
<div id="pph-hireme"></div>
<script type="text/javascript">
(function(d, s) {
    var useSSL = 'https:' == document.location.protocol;
    var js, where = d.getElementsByTagName(s)[0],
    js = d.createElement(s);
    js.src = (useSSL ? 'https:' : 'http:') +  '//www.peopleperhour.com/hire/2310484465/4804834.js?width=728&height=123&orientation=horizontal&theme=light&hourlies=676427%2C676280&rnd='+parseInt(Math.random()*10000, 10);
    try { where.parentNode.insertBefore(js, where); } catch (e) { if (typeof console !== 'undefined' && console.log && e.stack) { console.log(e.stack); } }
}(document, 'script'));
</script>
	{% if groups %}
		<h4 style="margin-left: 5%;">Groups: </h4>
		{% for group in groups %}
			<a href="/{{groups[group]['_id']}}-group" class="link" style="margin-left: 7%;">{{groups[group]["name"]}}</a><br>
		{% endfor %}
		<hr>
	{% endif %}
	{% if posts %}
		<h4 style="margin-left: 5%;">Posts: </h4>
		{% for post in posts %}
			<div style="margin-left: 7%; margin-right: 5%;">
				<a class="link" href="{{post['_id']}}-post">{{post["title"]}}</a> 
				<a class="link" href="/{{post['user_id']}}">@{{post["username"]}}</a> 
				{{post["pub_date"]}} 
				{% if grps[posts.index(post)] %}
					 in <a href="/{{grps[posts.index(post)]['_id']}}-group" class="link">{{grps[posts.index(post)]["name"]}}</a> 
				{% endif %} 
				{% if post["username"] == user["username"] %}
					<a href="/delete-{{post['_id']}}" class="d">
						<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
							<path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
							<path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
						</svg>
					</a>
				{% endif %}<br>
				<div style="font-size: 95%; color: gray;">{{post["body"]}}</div>
				<br>
			</div>
		{% endfor %}
		<hr>
	{% else %}
		<center><h3 style="color: #d3d3d3; margin-top: 5%;">There are no posts yet. Create the first one by clicking the "Add Post" button above.</h3></center>
	{% endif %}
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script>
		$.get("/notifications", function(data) {document.getElementById("notifications").innerHTML = data;});
	</script>
{% endblock %}
